/* Unessential CSS - Just here to make this sample page prettier */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fff;
}
.charts {
    width: 100%;
    content: " ";
    display: table;
    clear: both;
}
.wrapper {
    margin: 0 auto;
    max-width: 1060px;
    padding: 1px 3em;
}
header {
    background-color: #000;
}
header:after {
    content: " ";
    display: table;
    clear: both;
}
.col {
    padding: 2%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.brand, h1, h2, h3 {
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
 }
.intro h1 {
    margin: 1.5em auto 0;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: .5;
    color: #a82180;
}
h4, h5, h6 {
    letter-spacing: 1px;
}
.charts h3 {
    font-family: 'Roboto', Arial, Heletica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;

}
pre {
    overflow: auto;
    max-height: 500px;
    background-color: #eee;
    padding: 1em;
}
.brand {
    float: left;
    height: 80px;
}
.brand p {
    margin: 0;
}
.rm-nav {
    letter-spacing: 1px;
}
.logo {
    font-size: 1.4em;
    line-height: 40px;
    margin: 20px 0 0;
    width: 138px;
    height: 40px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-color: #a82180;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 0;
}

.rm-toggle.rm-button {
    margin-top: 25px;
}

.rm-css-animate.rm-menu-expanded {
    max-height: none;
    display: block;
}
.rm-container.rm-layout-expanded {
    float: right;
}
.rm-nav ul {
    margin-bottom: 0;
}
.rm-nav a,
.rm-top-menu a {
    font-size: .9em;
    text-transform: uppercase;
}
.rm-container.rm-layout-expanded .rm-nav > ul > li > a,
.rm-container.rm-layout-expanded .rm-top-menu > .rm-menu-item > a {
    height: 80px;
    line-height: 80px;
}
.intro p {
    text-align: center;
    padding: 1em 2em 2em;
    background-color: #a82180;
    color: #fff;
    margin: 0 0 2em;
}
p.tagline {
    padding: 1em 2em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.main {
    padding-top: 1px;
}
.chart,
.data-table {
    width: 100%;
}
table {
    width: 100%;
    background-color: #eee;
    border-collapse: collapse;
}
caption {
    font-size: 20px;
    font-weight: bold;
}
tr:nth-child(odd) {
    background-color:#eee;
}
tr:nth-child(even) {
    background-color:#fff;
}
th {
    background-color: #a82180;
    color: #fff;
}
th,
td {
    padding: .2em 1em;
    font-size: .9em;
}
#tableChart th {
    background-color: #3691ff;
}

#myDates {
    width: 100%;
    padding: 2%;
    background-color: transparent;
}
.dev-output {
    background-color: rgba(255,255,255,.85);
    color: #000;
    padding: 2em;
    margin-bottom: 2em;
}

@media screen and ( min-width: 769px ) {
    .col {
        float: left;
        width: 50%;
    }
    .intro h1 {
        font-size: 80px;
    }
}
